/*не совсем понял условие страница всегда растягивается на всю высоту 
и ширину экрана*/
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.header{
    height: 60px;
    background-color: rgb(3, 77, 77);
    padding-left: 4%;
    padding-top: 20px;
    font-size: x-large;
    color: #fff;
    text-transform: uppercase;
}
.main{
    padding: 30px;
    height: 93vh;
    background-color: rgb(7, 108, 108);
}
.horizontal{
    display: grid;
    height: 83vh;
    grid-template-columns: 500px 500px 500px 500px 500px;
    grid-gap: 10px;
    align-items: start;
    overflow-x: auto;
}
.board{
    margin: 30px;
    height: 700px;
    background-color: rgb(171, 162, 162);
    border-radius: 5px;
    overflow-y: auto;
}
.txt{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}
.card{
    margin: 10px;
    padding: 10px;
    display: flex;
    border: 1px solid darkblue;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    font-size: 30px;
    margin-bottom: 20px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
.between{
    padding-left: 25px;
}
.num{
    padding-top: 2px;
    padding-left: 10px;
    font-size: 21px;
}